.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.square_red {
  background-color: red;
}

.square_green {
  background-color: green;
}

.square_blue {
  background-color: blue;

}

.square_orange {
  background-color: orange;
}
